@page
@model AdminPanelWebApp.Pages.Settings.IndexModel

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



<div class="container">
    <h2>Index</h2>
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Timeout"></label>
                <input type="number" asp-for="Timeout" class="form-control"/>
                <span asp-validation-for="Timeout" class="text-danger"></span>
            </div>
        </div>
        <input type="submit" value="zapisz"/>
    </form>

</div>
